cxf-bc/TheValidatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.6 in JDK 6. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.6 in JDK 6. -->
<wsdl:definitions name="TheValidator"
	targetNamespace="http://egov/aibpm/finalproject/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://egov/aibpm/finalproject/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:tns="http://egov/aibpm/finalproject/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://egov/aibpm/finalproject/">

			<xs:element name="BiValidator" type="tns:BiValidator"></xs:element>

			<xs:element name="BiValidatorResponse" type="tns:BiValidatorResponse"></xs:element>

			<xs:element name="mailValidator" type="tns:mailValidator"></xs:element>

			<xs:element name="mailValidatorResponse" type="tns:mailValidatorResponse"></xs:element>

			<xs:element name="passValidator" type="tns:passValidator"></xs:element>

			<xs:element name="passValidatorResponse" type="tns:passValidatorResponse"></xs:element>

			<xs:complexType name="BiValidator">
				<xs:sequence>
					<xs:element name="bi" type="xs:string" form="qualified"
						minOccurs="0"></xs:element>

				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="BiValidatorResponse">
				<xs:sequence>
					<xs:element name="BiValidatorResul" type="tns:validatorResult"
						form="qualified" minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="validatorResult">
				<xs:sequence>
					<xs:element name="reason" type="xs:string" minOccurs="0"></xs:element>
					<xs:element name="result" type="xs:string" minOccurs="0"></xs:element>
					<xs:element name="sugestion" type="xs:string" minOccurs="0"></xs:element>
					<xs:element name="testSubject" type="xs:string"
						minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="passValidator">
				<xs:sequence>
					<xs:element name="pass" type="xs:string" form="qualified"
						minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="passValidatorResponse">
				<xs:sequence>
					<xs:element name="passValidatorResul" type="tns:validatorResult"
						form="qualified" minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="mailValidator">
				<xs:sequence>
					<xs:element name="mail" type="xs:string" form="qualified"
						minOccurs="0"></xs:element>
				</xs:sequence>

			</xs:complexType>

			<xs:complexType name="mailValidatorResponse">
				<xs:sequence>
					<xs:element name="mailValidatorResul" type="tns:validatorResult"
						minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="mailValidator">
		<wsdl:part name="parameters" element="tns:mailValidator" />
	</wsdl:message>
	<wsdl:message name="mailValidatorResponse">
		<wsdl:part name="parameters" element="tns:mailValidatorResponse" />
	</wsdl:message>
	<wsdl:message name="BiValidator">
		<wsdl:part name="parameters" element="tns:BiValidator" />
	</wsdl:message>
	<wsdl:message name="BiValidatorResponse">
		<wsdl:part name="parameters" element="tns:BiValidatorResponse" />
	</wsdl:message>
	<wsdl:message name="passValidator">
		<wsdl:part name="parameters" element="tns:passValidator" />
	</wsdl:message>
	<wsdl:message name="passValidatorResponse">
		<wsdl:part name="parameters" element="tns:passValidatorResponse" />
	</wsdl:message>
	<wsdl:portType name="TheValidatorService">
		<wsdl:operation name="mailValidator">
			<wsdl:input message="tns:mailValidator" />
			<wsdl:output message="tns:mailValidatorResponse" />
		</wsdl:operation>
		<wsdl:operation name="BiValidator">
			<wsdl:input message="tns:BiValidator" />
			<wsdl:output message="tns:BiValidatorResponse" />
		</wsdl:operation>
		<wsdl:operation name="passValidator">
			<wsdl:input message="tns:passValidator" />
			<wsdl:output message="tns:passValidatorResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TheValidatorPortBinding" type="tns:TheValidatorService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="mailValidator">
			<soap:operation soapAction="validateEmail" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BiValidator">
			<soap:operation soapAction="validateBi" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="passValidator">
			<soap:operation soapAction="validatePass" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TheValidator">
		<wsdl:port name="TheValidatorPort" binding="tns:TheValidatorPortBinding">
			<soap:address location="http://localhost:8089/WS/TheValidator/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>